* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;

}

nav {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: calc(100vh - 90px);

    border: green 4px solid;
    overflow-y: auto;
    overflow-x: hidden;

    justify-content: space-between;



    /* test */
    background-color: aquamarine;
}

.logo {
    width: 230px;
    height: 90px;
    background-color: brown;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    padding-top: 20px;
    list-style-type: none;
}

h2 {
    padding: 40px 10px;
}

.playlist>div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;

}

.playlist ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 250px;
    line-height: 40px;

    border: solid 1px black;

    list-style-type: none;
    padding-left: 10px;
}



.add {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: azure;
}

main {
    width: calc(100% - 230px);
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 120px;



    /* test */
    background-color: blueviolet;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: calc(100% - 230px);
}

.upgrade {
    display: flex;
    justify-content: flex-end;

    height: 90px;
    background-color: rgba(245, 245, 220, 0.264);

    border: 4px black solid;
}

button {
    margin: 25px 50px;
    padding: 0 20px;
}

.search {
    display: flex;

    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    padding-top: 100px;
}

h1 {
    padding: 20px 20px;
    padding-top: 80px;

}

.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.album div .image {
    /* test */
    background-color: darkblue;
    width: 176px;
    height: 176px;
}

p {
    padding-left: 20px;
    padding-bottom: 30px;
}

footer {
    position: fixed;

    bottom: 0;
    width: 100vw;
    height: 90px;



    background-color: cornflowerblue;
}